In [22]:
""" Q1. Create one varable containing following type of data.
(1) String
(2) List
(3) Float
(4) Tuple  """

# solution (1):  Create one varable containing String type of data.
a = "My name is Ashutosh Tiwwari."
print(type(a))

# solution (2):  Create one varable containing List type of data.
b = [47.2,78,"Piyush",[24,89.77,"Ashutosh"]]
print(type(b))

# solution (3):  Create one varable containing Float type of data.
c = 47.22
print(type(c))

# solution (4): Create one varable containing Tuple type of data.
d = (12.5,57,"Asus VIvobook",(940,68.9,"IIMT University"))
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [21]:
""" Q2. Given are some following variable containg data.
(1) Var1 = " "
(2) Var2 = '[DS, ML, Python]'
(3) Var3 = ['DS', 'ML', 'Python']
(4) Var4 = 1 """

# Solution (1): Var1 = " "
Var1 = " "
print(type(Var1))

# Solution (2): Var2 = '[DS, ML, Python]'
Var2 = '[DS, ML, Python]'
print(type(Var2))

# Solution (3):
Var3 = ['DS','ML','Python']
print(type(Var3))

# Solution (3):
Var3 = [1]
print(type(Var3))

# Solution (1): Var4 = 1
Var4 = 1
print(type(Var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'list'>
<class 'int'>

In [ ]:
''' Q3. Explain the use of the following operators using an example:
(1) /
(2) %
(3) //
() ** '''

# Solution (1): / {This is type of Arithmetic Operator which is used to do divide operation between two operand}
a = 56
b = 2
y = a/b
print(y)
# a & b are two operands. If we divides 56 from 2 we get 28.0

# Solution (2): % {This is type of Arithmetic Operator which is used to find the remainder between two operand}
a = 56
b = 2
x = a%b
print(x)
# a & b are two operands. If we divides 56 from 2 we get the remainder 0.

# Solution (3): // {This is type of Arithmetic Operator which is used to do divide operation between two operand
a = 56
b = 2
z = a//b
print(z)
# a & b are two operands. If we divide 56 from 2 we get the mod floor value that is 28.

# Solution (4): ** {This is type of Arithmetic Operator which is used to find the exponent of a given number}
a = 56
b = 2
w = a**b
print(w)
# a & b are two operands. If we find the square of 56. we get 3136

In [1]:
""" Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type. """

# Solution:

list_1 = [12,12.23,"Ashutosh",True,(41,560),[345,"Asus Vivobook"],{'a':75}," ", 0.00,0]
y = len(list_1)
print("The length of given list is",y)
print("                  ")
for item in list_1:
    print(item, type(item))

The length of given list is 10

12 <class 'int'>
12.23 <class 'float'>
Ashutosh <class 'str'>
True <class 'bool'>
(41, 560) <class 'tuple'>
[345, 'Asus Vivobook'] <class 'list'>
{'a': 75} <class 'dict'>
  <class 'str'>
0.0 <class 'float'>
0 <class 'int'>

In [15]:
""" Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not. """

# Solution:

list_1 = [322,7,21,18,45,92,99,48,33,76,79,12,2331,999,234,453,5121,477,697,452,45,889,1213,458,63]
print("The length of list is", len(list_1))
print("The items which are divisble by 3 are given as follows.") 
for item in list_1: 
    if item%3==0:
        print(item)

The length of list is 25
The items which are divisble by 3 are given as follows.
21
18
45
99
48
33
12
2331
999
234
453
5121
477
45
63

In [2]:
""" Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property."""

# Solution: Mutable and Non-Mutable data type.
""" Mutable data types: Mutable data types are those types of data types whose values are updated after once the value are assignend and they are list set and dictornary. For example """

List_1 = [45,569.2,"Love",True]
print(List_1[1])
List_1[1] = 459
print(List_1)
print(List_1[1])

"""In this above given example the list is given whose name is List_1 and as we can see that the elements of given list is mutable, hence it shows the mutable property. """

""" Imutable data types: Imutable data types are those types of data types whose values are not  updated after once the value are assignend and they are tuples, int and Float. For example """

tuple_1 = (45,569.2,"Love",True)
print(tuple_1[1])
tuple_1[1] = 459
print(tuple_1)
print(tuple_1[1])

"""In this above given example the list is given whose name is tupple_1 and as we can see that the elements of given tupple is mutable, and it shows eroor when we want to update it, hence it shows the immutable property.
Hence we can say that the tupples are immuatble. """

569.2
[45, 459, 'Love', True]
459
569.2

TypeError: 'tuple' object does not support item assignment

In [2]:
""" Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible."""

#Solution: 

A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

count = 0  # Variable to count the number of divisions

while A % B == 0:
    A /= B
    count += 1

if count > 0:
    print("Number A is divisible by B")
    print("It can be divided", count, "times")
else:
    print("Number A is not divisible by B")

Enter the number A:  58
Enter the number B:  2

Number A is divisible by B
It can be divided 1 times